@page
@model StrongFitApp.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Você saiu com sucesso do sistema.</p>
</header>